.txPageGrid {
  grid-template-areas: 
    "message encoding tx"
    "message options tx"
    "password options tx";

  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-rows: 1fr 1.5fr 1fr;
}

.areaMessage {
  grid-area: message;
}

.areaPassword {
  grid-area: password;
}

.areaEncoding {
  grid-area: encoding;
}

.areaOptions {
  grid-area: options;
}

.areaTx {
  grid-area: tx;
}