.boxRadio {
  display: none !important;
  cursor: pointer;
}

.boxRadio + label:before {
  content: "[ ]";
  @apply mr-2 font-semibold;
  cursor: pointer;
}

.boxRadio:checked + label:before {
  content: "[x]";
  @apply text-cyan-400;
}

.boxRadio:checked + label {
  @apply text-cyan-400;
}

