@font-face {
  font-family: 'CutiveMono';
  src: url("./assets/fonts/CutiveMono-Regular.ttf") format("truetype");
}

body {
  font-family: 'CutiveMono';
}

@tailwind base;
@tailwind components;
@tailwind utilities;